<template>
    <SignUp></SignUp>
</template>

<script>
import SignUp from '@/components/daily-ui/SignUp.vue'

export default {
  name: "Challenges",
  components: {
    SignUp
  }
}
</script>

<style scoped>

</style>